.custom-carousel-control{
    top: initial;
    bottom: 2%;
    width: 15%;
}

.nav-bg{
    background-color: #cbe5ff !important;
}

.bg-pink-light{
    background-color: #FEEAE9;
}

.carosel-icen-bg{
    width: 0.5rem;
    height: 0.5rem;
    padding: 1rem;
    background-color: #848484;
    border-radius: 6px;
    background-size: 67% 69%;
}

.carousel-custom-indicators [data-bs-target]{
    background-color: #8e8484;
}

.bg-pink-gradient{
    background: linear-gradient(180deg, #FF589B, #fb0465 ) !important;
}

.bg-blue-gradient{
    background: linear-gradient(180deg, #769AFE, #164ff5 ) !important;
}

.bg-yellow-gradient{
    background: linear-gradient(180deg, #FFC61E, #fb8e00 ) !important;
}

.slider-price-color{
    color: #fb0465;
}

.custom-b-radius{
    border-radius: 0.7rem;
}

.font-500{
    font-weight: 500;
}

